<html>
  <head>
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet" />
    <meta name="theme" content="on-demand-event" />
    <meta name="id" content="building-your-first-email-program" />
    <meta name="coveo-solution" content="Marketo Engage" />
    <meta name="solution" content="Marketo Engage" />
    <meta name="feature-set" content="Marketo Engage" />
    <meta name="git-folder" content="marketo-engage" />
    <meta name="type" content="on-demand-event" />
    <meta name="title" content="Building your first email program" />
    <meta
      name="description"
      content="Watch this step-by-step tutorial to learn how to create an email program with an A/B test." />
    <meta name="role" content="User" />
    <meta name="level" content="Intermediate, Experienced" />
    <meta name="publish" content="true" />
    <meta
      name="git-commit-file"
      content="1a3faf45986941f0a19d5ac3729b3265e7cbc12e" />
    <meta name="last-update" content="2025-01-24" />
    <meta name="target-id" content="705af320-b92d-330f-d4cb-b3fe7a48e540" />
    <meta
      name="image"
      content="https://images-tv.adobe.com/mpcv3/bef7370e-bfa6-4a5f-ada4-279b7b528dda/3555f9e3-177b-4d90-93e9-29209274ef80/b42107e6a8ab423cab6d83917c9724f2_1700618436-1920x1080.jpg" />
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <div class="breadcrumbs">
          <div>
            <div>
              <a href="/en/on-demand-events">On-Demand Events</a>
              <a href="/en/on-demand-events/building-your-first-email-program"
                >Building your first email program</a
              >
            </div>
          </div>
        </div>
        <div class="embed">
          <div>
            <div>
              <p>
                <img
                  alt="some image"
                  src="https://images-tv.adobe.com/mpcv3/bef7370e-bfa6-4a5f-ada4-279b7b528dda/3555f9e3-177b-4d90-93e9-29209274ef80/b42107e6a8ab423cab6d83917c9724f2_1700618436-1920x1080.jpg" />
              </p>
              <p>
                <a href="https://video.tv.adobe.com/v/3419440/?learn=on"
                  >https://video.tv.adobe.com/v/3419440/?learn=on</a
                >
              </p>
            </div>
          </div>
        </div>
        <h1>Building your first email program</h1>
        <p>Last updated January 2, 2025</p>
        <div class="video-transcript">
          <div>
            <div>
              <a href="https://video.tv.adobe.com/vc/3441776/eng.json"
                >https://video.tv.adobe.com/vc/3441776/eng.json</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2 id="about-the-session">About the session</h2>
        <p>
          Securing and maintaining a marketing budget isn't just about making
          the ask. It's about proving value and building trust across your
          organization. To do this effectively, you need a strategy that ties
          your initiatives to revenue impact while ensuring alignment and
          scalability. Learn about tools and insights to prove marketing's
          impact and secure leadership buy-in. Discover how to position your
          team as a key contributor to revenue, retention, and efficiency.
        </p>
        <h2 id="key-takeaways">Key takeaways:</h2>
        <ul>
          <li>
            Prove marketing's role in achieving business goals by showing the
            direct impact marketing has on what matters most to leadership
          </li>
          <li>
            Showcase marketing's impact on revenue by demonstrating how
            marketing directly contributes to sales and business growth
          </li>
          <li>
            Show how marketing indirectly impacts customer retention, loyalty,
            and brand perception while improving operational efficiency to
            streamline GTM initiatives
          </li>
          <li>and drive revenue growth</li>
        </ul>
        <div class="social-share">
          <div>
            <div>facebook,twitter,linkedin</div>
          </div>
        </div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>event primary</div>
          </div>
        </div>
      </div>
      <div>
        <div class="speakers">
          <div>
            <div>
              <p>
                <img
                  alt="profile picture for Jessica Meyers"
                  src="https://i.pravatar.cc/300" />
              </p>
              <p><strong>Jessica Meyers</strong></p>
              <p>Director of Marketing Operations and Technology at Terra</p>
            </div>
          </div>
          <div>
            <div>
              <p>
                <img
                  alt="profile picture for Oliver Moretti"
                  src="https://i.pravatar.cc/300" />
              </p>
              <p><strong>Oliver Moretti</strong></p>
              <p>Sr. Product Manager Adobe Analytics</p>
            </div>
          </div>
        </div>
        <div class="at-a-glance">
          <div>
            <div>
              <h3>At a glance</h3>
              <p>Product: Marketo Workfront Experience Platform</p>
              <p>Series: Marketo &#x26; Mochas</p>
              <p>Role: Business User Developer</p>
            </div>
          </div>
        </div>
        <div class="download">
          <div>
            <div>
              <a href="https://picsum.photos/200/300"
                ><span class="icon icon-download"></span>Download [content
                type]</a
              >
            </div>
          </div>
        </div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>event secondary</div>
          </div>
        </div>
      </div>
      <div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>event rail</div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
