<html>
  <head>
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet" />
    <meta name="theme" content="on-demand-event" />
    <meta name="id" content="building-your-first-email-program" />
    <meta name="coveo-solution" content="Marketo Engage" />
    <meta name="solution" content="Marketo Engage" />
    <meta name="feature-set" content="Marketo Engage" />
    <meta name="git-folder" content="marketo-engage" />
    <meta name="type" content="on-demand-event" />
    <meta name="title" content="Building your first email program" />
    <meta
      name="description"
      content="Watch this step-by-step tutorial to learn how to create an email program with an A/B test." />
    <meta name="role" content="User" />
    <meta name="level" content="Intermediate, Experienced" />
    <meta name="publish" content="true" />
    <meta
      name="git-commit-file"
      content="1a3faf45986941f0a19d5ac3729b3265e7cbc12e" />
    <meta name="last-update" content="2025-01-24" />
    <meta name="target-id" content="705af320-b92d-330f-d4cb-b3fe7a48e540" />
    <meta
      name="image"
      content="https://images-tv.adobe.com/mpcv3/bef7370e-bfa6-4a5f-ada4-279b7b528dda/3555f9e3-177b-4d90-93e9-29209274ef80/b42107e6a8ab423cab6d83917c9724f2_1700618436-1920x1080.jpg" />
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <div class="breadcrumbs">
          <div>
            <div>
              <a href="/en/on-demand-events">On-Demand Events</a>
              <a href="/en/on-demand-events/building-your-first-email-program"
                >Building your first email program</a
              >
            </div>
          </div>
        </div>
        <div class="embed">
          <div>
            <div>
              <p>
                <img
                  alt="some image"
                  src="https://images-tv.adobe.com/mpcv3/bef7370e-bfa6-4a5f-ada4-279b7b528dda/3555f9e3-177b-4d90-93e9-29209274ef80/b42107e6a8ab423cab6d83917c9724f2_1700618436-1920x1080.jpg" />
              </p>
              <p>
                <a href="https://video.tv.adobe.com/v/3419440/?learn=on"
                  >https://video.tv.adobe.com/v/3419440/?learn=on</a
                >
              </p>
            </div>
          </div>
        </div>
        <h1>Building your first email program</h1>
        <p>Last updated January 2, 2025</p>
        <div class="video-transcript">
          <div>
            <div>
              <a href="https://video.tv.adobe.com/vc/3441776/eng.json"
                >https://video.tv.adobe.com/vc/3441776/eng.json</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <p>[Badge Example]{class="badge informative"}</p>
        <div class="code language-javascript">
          <div>
            <div>
              <pre><code>var visitor = Visitor.getInstance("INSERT-MARKETING-CLOUD-ORGANIZATION ID-HERE", {
     trackingServer: "INSERT-TRACKING-SERVER-HERE", // same as s.trackingServer
     trackingServerSecure: "INSERT-SECURE-TRACKING-SERVER-HERE", // same as s.trackingServerSecure

     // To enable CNAME support, add the following configuration variables
     // If you are not using CNAME, DO NOT include these variables
     marketingCloudServer: "INSERT-TRACKING-SERVER-HERE",
     marketingCloudServerSecure: "INSERT-SECURE-TRACKING-SERVER-HERE" // same as s.trackingServerSecure
});
</code></pre>
            </div>
          </div>
        </div>
        <div class="note">
          <div>
            <div>
              <div>
                <p>:info: NOTE</p>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <p>This is a standard &#160;NOTE block.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs">
          <div>
            <div>
              <div>
                <p>iOS</p>
              </div>
            </div>
            <div>
              <div>
                <div>
                  <div style="display: block !important">
                    <p>This content appears in the iOS tab.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <p>Android</p>
              </div>
            </div>
            <div>
              <div>
                <div>
                  <div style="display: block !important">
                    <p>This content appears in the Android tab.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <p>Windows</p>
              </div>
            </div>
            <div>
              <div>
                <div>
                  <div style="display: block !important">
                    <p>This content appears in the Windows tab.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <p>MacOS</p>
              </div>
            </div>
            <div>
              <div>
                <div>
                  <div style="display: block !important">
                    <p>This content appears in the MacOS tab.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <p>Linux</p>
              </div>
            </div>
            <div>
              <div>
                <div>
                  <div style="display: block !important">
                    <p>This content appears in the Linux tab.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="social-share">
          <div>
            <div>facebook,twitter,linkedin</div>
          </div>
        </div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>event primary</div>
          </div>
        </div>
      </div>
      <div>
        <div class="speakers">
          <div>
            <div>
              <h3>Speakers</h3>
            </div>
          </div>
          <div>
            <div>
              <p>
                <img
                  alt="profile picture for Jessica Meyers"
                  src="https://i.pravatar.cc/300" />
              </p>
              <p><strong>Jessica Meyers</strong></p>
              <p>Director of Marketing Operations and Technology at Terra</p>
            </div>
          </div>
          <div>
            <div>
              <p>
                <img
                  alt="profile picture for Oliver Moretti"
                  src="https://i.pravatar.cc/300" />
              </p>
              <p><strong>Oliver Moretti</strong></p>
              <p>Sr. Product Manager Adobe Analytics</p>
            </div>
          </div>
        </div>
        <div class="at-a-glance">
          <div>
            <div>
              <h3>At a glance</h3>
            </div>
          </div>
          <div>
            <div>
              <p>Product: Marketo Workfront Experience Platform</p>
              <p>Series: Marketo &#x26; Mochas</p>
              <p>Role: Business User Developer</p>
            </div>
          </div>
        </div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>event secondary</div>
          </div>
        </div>
      </div>
      <div>
        <div class="section-metadata">
          <div>
            <div>style</div>
            <div>event rail</div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
