<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>이 콘텐츠가 도움이 되었나요?</h3>
      </div>
      <div class="like-buttons">
        <p>로드 중 오류가 발생했습니다. 페이지를 새로 고침해 주세요.</p>
        <p>로드 중 오류가 발생했습니다. 페이지를 새로 고침해 주세요.</p>
        <p>콘텐츠가 도움이 됨</p>
        <p>콘텐츠가 도움이 되지 않음</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>피드백을 제공해 주셔서 감사합니다.</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>피드백을 더 제공하려면 페이지를 새로 고칩니다.</div>
      <div>
        잠시만 시간을 내어 해당 항목을 선택한 이유나 콘텐츠를 개선할 방법을 알려
        주세요.
      </div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>투표하여 피드백(선택 사항)을 입력하고 제출하십시오</div>
    </div>
    <div class="submit-options">
      <div>
        <p>제출</p>
        <p>제출할 피드백 제공</p>
        <p>피드백 제출</p>
        <p>해제</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>자세한 피드백 옵션</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>다른 피드백 옵션</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>문제 신고</p>
        <p>GitHub를 열어 보고하기</p>
        <p>이 기능은 이 페이지에서 사용할 수 없습니다</p>
      </div>
      <div class="edit">
        <p>편집 제안하기</p>
        <p>GitHub를 열어 편집하기</p>
        <p>이 기능은 이 페이지에서 사용할 수 없습니다</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/docs/contributor/contributor-guide/introduction.html?lang=ko#_blank"
            >참여하는 방법을 알아봅니다.</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
