<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>Ce contenu vous a-t-il été utile ?</h3>
      </div>
      <div class="like-buttons">
        <p>Erreur de chargement. Actualisez la page.</p>
        <p>Erreur de chargement. Actualisez la page.</p>
        <p>Le contenu est utile.</p>
        <p>Le contenu n’est pas utile.</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>Merci pour vos commentaires.</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>Actualisez votre page pour fournir d’autres commentaires.</div>
      <div>
        Veuillez prendre quelques instants pour expliquer votre sélection ou
        nous dire comment nous pouvons nous améliorer.
      </div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>Voter pour fournir d’autres commentaires et envoyer</div>
    </div>
    <div class="submit-options">
      <div>
        <p>Envoyer</p>
        <p>Fournir des commentaires à soumettre</p>
        <p>Envoyer des commentaires</p>
        <p>Ignorer</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>Options de commentaire</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>Autres options de commentaire</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>Signaler un problème</p>
        <p>Ouvrir GitHub pour créer un rapport</p>
        <p>Cette fonctionnalité n’est pas disponible sur cette page</p>
      </div>
      <div class="edit">
        <p>Suggérer une modification</p>
        <p>Ouvrir GitHub pour effectuer des modifications</p>
        <p>Cette fonctionnalité n’est pas disponible sur cette page</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/fr/docs/contributor/contributor-guide/introduction"
            >Découvrez comment contribuer.</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
