<div>
  <div class="my-learning-interests">
    <div>
      <div>
        <h2>My learning interests</h2>
        <div>Check all of the following that apply</div>
        <div>Preferences content</div>
      </div>
    </div>
  </div>
  <div class="my-role">
    <div>
      <div>
        <h2>My role</h2>
        <div>Select all options that apply</div>
        <div>Preferences content</div>
      </div>
    </div>
  </div>
  <div class="my-experience-level">
    <div>
      <div>
        <h2>My experience level</h2>
        <div>Preferences content</div>
      </div>
    </div>
  </div>
  <div class="my-industry">
    <div>
      <div>
        <h2>My industry</h2>
        <div>Preferences content</div>
      </div>
    </div>
  </div>
  <div class="my-notification-preferences">
    <div>
      <div>
        <h2>My notification preferences</h2>
        <div>Preferences content</div>
      </div>
    </div>
  </div>
</div>
