<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>Esse conteúdo foi útil?</h3>
      </div>
      <div class="like-buttons">
        <p>Erro ao carregar. Atualize a página.</p>
        <p>Erro ao carregar. Atualize a página.</p>
        <p>O conteúdo é útil</p>
        <p>O conteúdo não é útil</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>Agradecemos pelo seu feedback.</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>Atualize sua página para fornecer mais feedbacks.</div>
      <div>
        Reserve um momento para explicar sua seleção ou como podemos melhorar.
      </div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>Vote para fornecer feedback opcional e envie</div>
    </div>
    <div class="submit-options">
      <div>
        <p>Enviar</p>
        <p>Forneça feedback para enviar</p>
        <p>Enviar feedback</p>
        <p>Descartar</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>Opções de feedback detalhado</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>Outras opções de feedback</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>Relatar um problema</p>
        <p>Abrir GitHub para relatar</p>
        <p>Esse recurso está indisponível nesta página</p>
      </div>
      <div class="edit">
        <p>Sugerir uma edição</p>
        <p>Abrir GitHub para editar</p>
        <p>Esse recurso está indisponível nesta página</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/docs/contributor/contributor-guide/introduction.html?lang=pt-BR#_blank"
            >Saiba como contribuir.</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
