application:
  hooks:
    pre-app-build: npm run build
  runtimeManifest:
    packages:
      main:
        license: Apache-2.0
        actions:
          convert:
            function: dist/converter # this is a folder that is built by the pre-app-build hook. needs to be a folder to serve static fragment files
            web: 'yes'
            runtime: 'nodejs:18'
            limits:
              memory: 1024
              concurrency: 2
            inputs:
              LOG_LEVEL: debug
              aemAuthorUrl: $AEM_AUTHOR_URL
              aemOwner: $OWNER
              aemRepo: $REPO
              aemBranch: $BRANCH
            annotations:
              require-adobe-auth: false # explicitly unauthenticated action
              final: true
          khoros:
            function: dist/khoros # this is a folder that is built by the pre-app-build hook. needs to be a folder to serve static fragment files
            web: 'yes'
            runtime: 'nodejs:18'
            inputs:
              LOG_LEVEL: debug
              khorosApiSecret: $KHOROS_API_SECRET
              khorosOrigin: $KHOROS_ORIGIN
              imsOrigin: $IMS_ORIGIN
            annotations:
              require-adobe-auth: false # explicitly unauthenticated action
              final: true
          tocs:
            function: dist/tocs # this is a folder that is built by the pre-app-build hook. needs to be a folder to serve static fragment files
            web: 'yes'
            runtime: 'nodejs:18'
            inputs:
              LOG_LEVEL: debug
            annotations:
              require-adobe-auth: false # explicitly unauthenticated action
              final: true
