<div>
  <!-- NOTE:  this is only a temp example until we get a TOC API from the EXL team. -->
  <div class="toc">
    <div>
      <div>
        <ul>
          <li>
            <h3>Experience Manager</h3>
          </li>
        </ul>
        <ul>
          <li>
            <a
              href="/docs/experience-manager-cloud-service/content/home.html?lang=en"
              >AEMaaCS Home</a
            >
          </li>
          <li>
            <a href="#overview">Overview</a>
            <ul>
              <li>
                <a
                  href="/docs/experience-manager-cloud-service/content/overview/introduction.html?lang=en"
                  >Introduction to AEM as a Cloud Service</a
                >
              </li>
              <li>
                <a
                  href="/docs/experience-manager-cloud-service/content/overview/what-is-new-and-different.html?lang=en"
                  >What is New and What is Different</a
                >
              </li>
              <li>
                <a
                  href="/docs/experience-manager-cloud-service/content/overview/terminology.html?lang=en"
                  >Terminology - New for the Cloud</a
                >
              </li>
              <li>
                <a
                  href="/docs/experience-manager-cloud-service/content/overview/architecture.html?lang=en"
                  >An Introduction to the Architecture of AEM as a Cloud
                  Service</a
                >
              </li>
              <li>
                <a
                  href="/docs/experience-manager-cloud-service/content/overview/seo-and-url-management.html?lang=en"
                  >SEO and URL Management</a
                >
              </li>
              <li>
                <a
                  href="/docs/experience-manager-cloud-service/content/overview/aem-cloud-service-on-unified-shell.html?lang=en"
                  >AEM as a Cloud Service on Unified Shell</a
                >
              </li>
              <li>
                <a
                  href="/docs/experience-manager-cloud-service/content/overview/assessing-kpis.html?lang=en"
                  >Assessing KPIs</a
                >
              </li>
              <li>
                <a
                  href="/docs/experience-manager-cloud-service/content/overview/aligning-kpis.html?lang=en"
                  >Aligning KPIs</a
                >
              </li>
              <li>
                <a
                  href="/docs/experience-manager-cloud-service/content/overview/choose-right-team.html?lang=en"
                  >Choosing the Right Team</a
                >
              </li>
              <li>View more</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
