<div>
  <div class="footer-breadcrumb">
    <div>
      <div>
        <a href="/es" title="Página principal"></a>
        <a data-id="footer-breadcrumb" href="/es">Experience League</a>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="learn">Aprender</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a href="/es/playlists">Listas de reproducción</a>
          </li>
          <li>
            <a href="/es/docs/home-tutorials">Tutorials</a>
          </li>
          <li>
            <a href="https://learning.adobe.com/"
              >Formación guiada por el instructor</a
            >
          </li>
          <li>
            <a href="/es/browse">Explorar todo el contenido de aprendizaje</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="documentation">Documentación</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/es/docs">Página principal de documentación</a>
          </li>
          <li>
            <a href="/es/docs/release-notes/experience-cloud/current"
              >Notas de la versión del Experience Cloud</a
            >
          </li>
          <li>
            <a href="https://helpx.adobe.com/lt/acrobat/using/whats-new.html"
              >Notas de la versión del Document Cloud</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="certifications">Certificación</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/es/docs/certification/program/overview"
              >Certificación inicio</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="events">Eventos</h2>
      </div>
      <div>
        <ul>
          <li><a href="/events?lang=es">Inicio de eventos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="community">Comunidad</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=es"
              >Inicio de comunidad</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-advertising-cloud/ct-p/adobe-advertising-cloud-community?profile.language=es"
              >Advertising Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community?profile.language=es"
              >Analytics</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-audience-manager/ct-p/adobe-audience-manager-community?profile.language=es"
              >Audience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-campaign-standard/ct-p/adobe-campaign-standard-community?profile.language=es"
              >Campaign Standard</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-cloud/ct-p/adobe-experience-cloud-community?profile.language=es"
              >Experience Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community?profile.language=es"
              >Experience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community?profile.language=es"
              >Experience Platform</a
            >
          </li>
          <li><a href="https://community.magento.com/">Magento Commerce</a></li>
          <li>
            <a href="https://nation.marketo.com/">Marketo Engage</a>
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community?profile.language=es"
              >Target</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront"
              >Workfront, an Adobe company</a
            >
          </li>
          <li>
            <a href="/home?lang=es#feedback">Panel de comentarios</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="support">Asistencia</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/home?lang=es#support">soporte de Experience Cloud</a>
          </li>
          <li>
            <a href="https://helpx.adobe.com/support/document-cloud.html"
              >soporte de Document Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=es"
              >Foros de comunidad</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="resources">Recursos</h2>
      </div>
      <div>
        <ul>
          <li><a href="https://www.adobe.io/">Adobe I/O</a></li>
          <li><a href="https://status.adobe.com/">Estado de Adobe</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="adobe-account">Cuenta de Adobe</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="#">Inicie sesión en su cuenta</a>
          </li>
          <li>
            <a href="/es/profile{'auth-only':'true'}">Perfil</a>
          </li>
          <li>
            <a href="/es/profile/bookmarks-and-achievements#my-awards{'auth-only':'true'}"
              >Logros</a
            >
          </li>
          <li>
            <a href="/es/profile/bookmarks-and-achievements#my-bookmarks{'auth-only':'true'}"
              >Contenido con marcador</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-item">
    <div>
      <div>
        <h2 id="adobe">Adobe</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li><a href="//www.adobe.com/about-adobe.html">Acerca</a></li>
          <li>
            <a href="https://www.adobe.com/careers.html">Carreras</a>
          </li>
          <li>
            <a href="https://news.adobe.com/home/default.aspx"
              >Sala de prensa</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/corporate-responsibility.html"
              >Responsabilidad corporativa</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/investor-relations.html"
              >Relaciones con inversores</a
            >
          </li>
          <li>
            <a
              href="https://www.adobe.com/corporate-responsibility/supply-chain.html"
              >Cadena de suministro</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/trust.html">Centro de confianza</a>
          </li>
          <li><a href="https://www.adobe.com/events.html">Eventos</a></li>
          <li>
            <a href="https://www.adobe.com/diversity.html"
              >Diversidad e inclusión</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/about-adobe/integrity.html"
              >Integridad</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/covid-19-response.html"
              >COVID-19 Responses</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="language-selector">
    <div>
      <div data-align="justify">
        <a href="/fragments/en/languages/languages">Cambiar idioma</a>
      </div>
    </div>
  </div>
  <div class="social">
    <div>
      <div>
        <p>
          <a href="https://www.facebook.com/Adobe/"
            >https://www.facebook.com/Adobe/</a
          >
        </p>
        <p>
          <a href="https://twitter.com/Adobe">https://twitter.com/Adobe</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/company/adobe"
            >https://www.linkedin.com/company/adobe</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/adobe/"
            >https://www.instagram.com/adobe/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyrights">
    <div>
      <div>
        <p>
          Copyright © 2024 Adobe. All Rights Reserved. /
          <a href="https://www.adobe.com/go/marketingcloud_privacy"
            >Privacidad</a
          >
          /
          <a href="https://www.adobe.com/legal/terms.html"
            >Condiciones de uso</a
          >
          /
          <!-- Please ensure href="#onetrust" remain unchanged - FE depends on it. -->
          <a href="#onetrust" title="Cookie preferences">Cookie preferences</a>
          /
          <a href="https://www.adobe.com/privacy/ca-rights.html"
            >No vender mi información personal</a
          >
          /
          <a
            href="https://www.adobe.com/privacy/opt-out.html#interest-based-ads"
            >AdChoices</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
