<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>¿Le ha resultado útil el contenido?</h3>
      </div>
      <div class="like-buttons">
        <p>Error al cargar. Actualice la página.</p>
        <p>Error al cargar. Actualice la página.</p>
        <p>El contenido resulta útil</p>
        <p>El contenido no es útil</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>Gracias por sus comentarios.</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>Actualice la página para proporcionar más comentarios.</div>
      <div>
        Dedique un momento a explicar su selección o cómo podríamos mejorar.
      </div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>Vote para proporcionar comentarios opcionales y enviarlos</div>
    </div>
    <div class="submit-options">
      <div>
        <p>Enviar</p>
        <p>Proporcionar comentarios para enviar</p>
        <p>Enviar comentarios</p>
        <p>Descartar</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>Opc. de comentarios detallados</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>Otras opciones de comentarios</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>Informar de un problema</p>
        <p>Abrir GitHub para informar</p>
        <p>Esta característica no está disponible en esta página</p>
      </div>
      <div class="edit">
        <p>Sugerir una edición</p>
        <p>Abrir GitHub para editar</p>
        <p>Esta característica no está disponible en esta página</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/es/docs/contributor/contributor-guide/introduction"
            >Descubra cómo contribuir.</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
