<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>この内容は役に立ちましたか？</h3>
      </div>
      <div class="like-buttons">
        <p>読み込みエラー。ページを更新。</p>
        <p>読み込みエラー。ページを更新。</p>
        <p>内容は役に立つ</p>
        <p>内容は役に立たない</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>フィードバックにご協力いただき、ありがとうございます。</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>ページを更新して、さらにフィードバックを提供します。</div>
      <div>選択した内容や改善点などについてお聞かせください。</div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>投票とオプションのフィードバックを提供して送信</div>
    </div>
    <div class="submit-options">
      <div>
        <p>送信</p>
        <p>フィードバックを送信してください</p>
        <p>フィードバックを送信</p>
        <p>解除</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>フィードバック詳細オプション</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>その他のフィードバックのオプション</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>問題を報告</p>
        <p>GitHub を開いて報告</p>
        <p>この機能はこのページで利用不可</p>
      </div>
      <div class="edit">
        <p>編集を提案</p>
        <p>GitHub を開いて編集</p>
        <p>この機能はこのページで利用不可</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/docs/contributor/contributor-guide/introduction.html?lang=ja#_blank"
            >投稿方法について</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
