<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>此內容有用嗎？</h3>
      </div>
      <div class="like-buttons">
        <p>載入錯誤，重新整理頁面。</p>
        <p>載入錯誤，重新整理頁面。</p>
        <p>內容有幫助</p>
        <p>內容沒有任意幫助</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>感謝您的意見回饋。</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>重新整理您的頁面以提供更多意見回饋。</div>
      <div>請花點時間解釋您的選擇或者我們如何加以改進。</div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>投票以提供可選回饋並提交</div>
    </div>
    <div class="submit-options">
      <div>
        <p>提交</p>
        <p>提供回饋以提交</p>
        <p>提交意見回饋</p>
        <p>解除</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>詳盡意見回饋選項</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>其他意見回饋選項</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>報告問題</p>
        <p>開啟 GitHub 以進行報告</p>
        <p>在此頁面中此功能不可用</p>
      </div>
      <div class="edit">
        <p>建議編輯</p>
        <p>開啟 GitHub 以進行編輯</p>
        <p>在此頁面中此功能不可用</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/docs/contributor/contributor-guide/introduction.html?lang=zh-Hant#_blank"
            >了解如何發表意見。</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
