<div>
  <div class="language-nav">
    <div>
      <div data-valign="middle">
        <ul>
          <li><a href="de">Deutsch</a></li>
          <li><a href="en">English</a></li>
          <li><a href="es">Español</a></li>
          <li><a href="fr">Français</a></li>
          <li><a href="it">Italiano</a></li>
          <li><a href="nl">Nederlands</a></li>
          <li><a href="pt-br">Português</a></li>
          <li><a href="sv">Svenska</a></li>
          <li><a href="zh-hans">中文 (简体)</a></li>
          <li><a href="zh-hant">中文 (繁體)</a></li>
          <li><a href="ja">日本語</a></li>
          <li><a href="ko">한국어</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
