<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>Questo contenuto ti è stato utile?</h3>
      </div>
      <div class="like-buttons">
        <p>Errore di caricamento. Aggiorna la pagina.</p>
        <p>Errore di caricamento. Aggiorna la pagina.</p>
        <p>Contenuto utile</p>
        <p>Contenuto non utile</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>Grazie per il tuo feedback.</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>Aggiorna la pagina per fornire ulteriori feedback.</div>
      <div>
        Ti invitiamo a dedicarci qualche secondo per spiegare il motivo della
        tua selezione o come possiamo migliorare.
      </div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>Vota per fornire feedback facoltativo e invia</div>
    </div>
    <div class="submit-options">
      <div>
        <p>Invia</p>
        <p>Fornire feedback da inviare</p>
        <p>Invia feedback</p>
        <p>Chiudi</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>Opzioni per feedback dettagliato</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>Altre opzioni di feedback</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>Segnala un problema</p>
        <p>Apri GitHub per segnalarlo</p>
        <p>Questa funzione non è disponibile su questa pagina</p>
      </div>
      <div class="edit">
        <p>Proponi una modifica</p>
        <p>Apri GitHub per modificare</p>
        <p>Questa funzione non è disponibile su questa pagina</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/it/docs/contributor/contributor-guide/introduction"
            >Scopri come puoi contribuire.</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
