<div>
  <div class="footer-breadcrumb">
    <div>
      <div>
        <a href="/" title="Home"></a>
        <a data-id="footer-breadcrumb" href="/">Experience League</a>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="learn">Learn</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a href="/home#courses">Courses</a>
          </li>
          <li>
            <a href="/en/docs/home-tutorials">Tutorials</a>
          </li>
          <li>
            <a href="https://learning.adobe.com/">Instructor-led training</a>
          </li>
          <li>
            <a href="/en/browse">Browse all learning content</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="documentation">Documentation</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/en/docs">Documentation home</a>
          </li>
          <li>
            <a href="/en/docs/release-notes/experience-cloud/current"
              >Experience Cloud release notes</a
            >
          </li>
          <li>
            <a href="https://helpx.adobe.com/lt/acrobat/using/whats-new.html"
              >Document Cloud release notes</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="certifications">Certifications</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/en/docs/certification/program/overview"
              >Certifications home</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="events">Events</h2>
      </div>
      <div>
        <ul>
          <li><a href="/events">Events home</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="community">Community</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=en"
              >Community home</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-advertising-cloud/ct-p/adobe-advertising-cloud-community?profile.language=en"
              >Advertising Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community?profile.language=en"
              >Analytics</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-audience-manager/ct-p/adobe-audience-manager-community?profile.language=en"
              >Audience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-campaign-standard/ct-p/adobe-campaign-standard-community?profile.language=en"
              >Campaign Standard</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-cloud/ct-p/adobe-experience-cloud-community?profile.language=en"
              >Experience Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community?profile.language=en"
              >Experience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community?profile.language=en"
              >Experience Platform</a
            >
          </li>
          <li><a href="https://community.magento.com/">Magento Commerce</a></li>
          <li>
            <a href="https://nation.marketo.com/">Marketo Engage</a>
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community?profile.language=en"
              >Target</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront"
              >Workfront, an Adobe company</a
            >
          </li>
          <li>
            <a href="/home#feedback">Feedback Panel</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="support">Support</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/home#support">Experience Cloud support</a>
          </li>
          <li>
            <a href="https://helpx.adobe.com/support/document-cloud.html"
              >Document Cloud support</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=en"
              >Community forums</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="resources">Resources</h2>
      </div>
      <div>
        <ul>
          <li><a href="https://www.adobe.io/">Adobe I/O</a></li>
          <li><a href="https://status.adobe.com/">Adobe status</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="adobe-account">Adobe Account</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="#">Log in to your account</a>
          </li>
          <li>
            <a href="/en/profile{'auth-only':'true'}">Profile</a>
          </li>
          <li>
            <a
              href="/en/profile/bookmarks-and-achievements{'auth-only':'true'}"
              >Achievements</a
            >
          </li>
          <li>
            <a
              href="/en/profile/bookmarks-and-achievements{'auth-only':'true'}"
              >Bookmarked content</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-item">
    <div>
      <div>
        <h2 id="adobe">Adobe</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li><a href="https://www.adobe.com/about-adobe.html">About</a></li>
          <li>
            <a href="https://www.adobe.com/careers.html">Careers</a>
          </li>
          <li>
            <a href="https://news.adobe.com/home/default.aspx">Newsroom</a>
          </li>
          <li>
            <a href="https://www.adobe.com/corporate-responsibility.html"
              >Corporate responsibility</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/investor-relations.html"
              >Investor Relations</a
            >
          </li>
          <li>
            <a
              href="https://www.adobe.com/corporate-responsibility/supply-chain.html"
              >Supply chain</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/trust.html">Trust Center</a>
          </li>
          <li><a href="https://www.adobe.com/events.html">Events</a></li>
          <li>
            <a href="https://www.adobe.com/diversity.html"
              >Diversity & Inclusion</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/about-adobe/integrity.html"
              >Integrity</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/covid-19-response.html"
              >COVID-19 Responses</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="language-selector">
    <div>
      <div data-align="justify">
        <a href="/fragments/en/languages/languages">Change language</a>
      </div>
    </div>
  </div>
  <div class="social">
    <div>
      <div>
        <p>
          <a href="https://www.facebook.com/Adobe/"
            >https://www.facebook.com/Adobe/</a
          >
        </p>
        <p>
          <a href="https://twitter.com/Adobe">https://twitter.com/Adobe</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/company/adobe"
            >https://www.linkedin.com/company/adobe</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/adobe/"
            >https://www.instagram.com/adobe/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyrights">
    <div>
      <div>
        <p>
          Copyright © 2024 Adobe. All Rights Reserved. /
          <a href="https://www.adobe.com/go/marketingcloud_privacy">Privacy</a>
          /
          <a href="https://www.adobe.com/legal/terms.html">Terms of Use</a>
          /
          <!-- Please ensure href="#onetrust" remain unchanged - FE depends on it. -->
          <a href="#onetrust" title="Cookie preferences">Cookie preferences</a>
          /
          <a href="https://www.adobe.com/privacy/ca-rights.html"
            >Do not sell my personal information</a
          >
          /
          <a
            href="https://www.adobe.com/privacy/opt-out.html#interest-based-ads"
            >AdChoices</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
