<div>
  <div class="footer-breadcrumb">
    <div>
      <div>
        <a href="/zh-hans" title="主页"></a>
        <a data-id="footer-breadcrumb" href="/zh-hans">Experience League</a>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="learn">学习</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a href="/zh-hans/playlists">播放列表</a>
          </li>
          <li>
            <a href="/zh-hans/docs/home-tutorials">教程</a>
          </li>
          <li>
            <a href="https://learning.adobe.com/">讲师指导的培训</a>
          </li>
          <li>
            <a href="/zh-hans/browse">浏览所有学习内容</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="documentation">文档</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/zh-hans/docs">文档首页</a>
          </li>
          <li>
            <a href="/zh-hans/docs/release-notes/experience-cloud/current"
              >Experience Cloud 发行说明</a
            >
          </li>
          <li>
            <a href="https://helpx.adobe.com/en/acrobat/using/whats-new.html"
              >Document Cloud 发行说明</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="certifications">认证</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/zh-hans/certification-home">认证首页</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="events">事件</h2>
      </div>
      <div>
        <ul>
          <li><a href="/events?lang=zh-Hans">活动主页</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="community">社区</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=en"
              >社区主页</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-advertising-cloud/ct-p/adobe-advertising-cloud-community?profile.language=en"
              >Advertising Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community?profile.language=en"
              >Analytics</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-audience-manager/ct-p/adobe-audience-manager-community?profile.language=en"
              >Audience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-campaign-standard/ct-p/adobe-campaign-standard-community?profile.language=en"
              >Campaign Standard</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-cloud/ct-p/adobe-experience-cloud-community?profile.language=en"
              >Experience Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community?profile.language=en"
              >Experience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community?profile.language=en"
              >Experience Platform</a
            >
          </li>
          <li><a href="https://community.magento.com/">Magento Commerce</a></li>
          <li>
            <a href="https://nation.marketo.com/">Marketo Engage</a>
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community?profile.language=en"
              >Target</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront"
              >Workfront, an Adobe company</a
            >
          </li>
          <li>
            <a href="/home?lang=zh-Hans#feedback">反馈面板</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="support">技术支持</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/home?lang=zh-Hans#support">Experience Cloud 支持</a>
          </li>
          <li>
            <a href="https://helpx.adobe.com/support/document-cloud.html"
              >Document Cloud 支持</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=en"
              >社区论坛</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="resources">资源</h2>
      </div>
      <div>
        <ul>
          <li><a href="https://www.adobe.io/">Adobe I/O</a></li>
          <li><a href="https://status.adobe.com/">Adobe 状态</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="adobe-account">Adobe 帐户</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="#">登录到您的帐户</a>
          </li>
          <li>
            <a href="/zh-hans/home/profile-settings{'auth-only':'true'}"
              >配置文件</a
            >
          </li>
          <li>
            <a href="/zh-hans/home/bookmarks{'auth-only':'true'}"
              >已添加书签的内容</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-item">
    <div>
      <div>
        <h2 id="adobe">Adobe</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li><a href="//www.adobe.com/about-adobe.html">关于</a></li>
          <li>
            <a href="https://www.adobe.com/careers.html">职业</a>
          </li>
          <li>
            <a href="https://news.adobe.com/home/default.aspx">新闻室</a>
          </li>
          <li>
            <a href="https://www.adobe.com/corporate-responsibility.html"
              >企业责任</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/investor-relations.html"
              >投资者关系</a
            >
          </li>
          <li>
            <a
              href="https://www.adobe.com/corporate-responsibility/supply-chain.html"
              >供应链</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/trust.html">信任中心</a>
          </li>
          <li><a href="https://www.adobe.com/events.html">事件</a></li>
          <li>
            <a href="https://www.adobe.com/diversity.html">多元化与包容性</a>
          </li>
          <li>
            <a href="https://www.adobe.com/about-adobe/integrity.html">诚信</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="language-selector">
    <div>
      <div data-align="justify">
        <a href="/fragments/en/languages/languages">更改语言</a>
      </div>
    </div>
  </div>
  <div class="social">
    <div>
      <div>
        <p>
          <a href="https://www.facebook.com/Adobe/"
            >https://www.facebook.com/Adobe/</a
          >
        </p>
        <p>
          <a href="https://twitter.com/Adobe">https://twitter.com/Adobe</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/company/adobe"
            >https://www.linkedin.com/company/adobe</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/adobe/"
            >https://www.instagram.com/adobe/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyrights">
    <div>
      <div>
        <p>
          Copyright © 2025 Adobe. All Rights Reserved. /
          <a href="https://www.adobe.com/go/marketingcloud_privacy">隐私</a>
          /
          <a href="https://www.adobe.com/legal/terms.html">使用条款</a>
          /
          <!-- Please ensure href="#onetrust" remain unchanged - FE depends on it. -->
          <a href="#onetrust" title="Cookie preferences">Cookie 首选项</a>
          /
          <a href="https://www.adobe.com/privacy/ca-rights.html"
            >请勿出售我的个人信息</a
          >
          /
          <a
            href="https://www.adobe.com/privacy/opt-out.html#interest-based-ads"
            >AdChoices</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
