<div>
  <div class="footer-breadcrumb">
    <div>
      <div>
        <a href="/ja" title="ホーム"></a>
        <a data-id="footer-breadcrumb" href="/ja">Experience League</a>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="learn">学習</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a href="/home?lang=ja#courses">コース</a>
          </li>
          <li>
            <a href="/ja/docs/home-tutorials">チュートリアル</a>
          </li>
          <li>
            <a href="https://learning.adobe.com/"
              >インストラクター主導のトレーニング</a
            >
          </li>
          <li>
            <a href="/ja/browse">すべての学習コンテンツを閲覧する</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="documentation">ドキュメント</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/ja/docs">ドキュメントホーム</a>
          </li>
          <li>
            <a href="/ja/docs/release-notes/experience-cloud/current"
              >Experience Cloud リリースノート</a
            >
          </li>
          <li>
            <a href="https://helpx.adobe.com/lt/acrobat/using/whats-new.html"
              >Document Cloud リリースノート</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="certifications">認定制度</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/ja/docs/certification/program/overview">認定ホーム</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="events">イベント</h2>
      </div>
      <div>
        <ul>
          <li><a href="/events?lang=ja">イベントホーム</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="community">コミュニティ</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=ja"
              >コミュニティホーム</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-advertising-cloud/ct-p/adobe-advertising-cloud-community?profile.language=ja"
              >Advertising Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community?profile.language=ja"
              >Analytics</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-audience-manager/ct-p/adobe-audience-manager-community?profile.language=ja"
              >Audience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-campaign-standard/ct-p/adobe-campaign-standard-community?profile.language=ja"
              >Campaign Standard</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-cloud/ct-p/adobe-experience-cloud-community?profile.language=ja"
              >Experience Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community?profile.language=ja"
              >Experience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community?profile.language=ja"
              >Experience Platform</a
            >
          </li>
          <li><a href="https://community.magento.com/">Magento Commerce</a></li>
          <li>
            <a href="https://nation.marketo.com/">Marketo Engage</a>
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community?profile.language=ja"
              >Target</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront"
              >Workfront, an Adobe company</a
            >
          </li>
          <li>
            <a href="/home?lang=ja#feedback">フィードバックパネル</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="support">サポート</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/home?lang=ja#support">Experience Cloud サポート</a>
          </li>
          <li>
            <a href="https://helpx.adobe.com/support/document-cloud.html"
              >Document Cloud サポート</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=ja"
              >コミュニティフォーラム</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="resources">リソース</h2>
      </div>
      <div>
        <ul>
          <li><a href="https://www.adobe.io/">Adobe I/O</a></li>
          <li><a href="https://status.adobe.com/">アドビステータス</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="adobe-account">アドビアカウント</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="#">アカウントにログイン</a>
          </li>
          <li>
            <a href="/ja/profile{'auth-only':'true'}">プロファイル</a>
          </li>
          <li>
            <a href="/ja/profile/bookmarks-and-achievements{'auth-only':'true'}"
              >成果</a
            >
          </li>
          <li>
            <a href="/ja/profile/bookmarks-and-achievements{'auth-only':'true'}"
              >ブックマークしたコンテンツ</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-item">
    <div>
      <div>
        <h2 id="adobe">Adobe</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li><a href="//www.adobe.com/about-adobe.html">アドビについて</a></li>
          <li>
            <a href="https://www.adobe.com/careers.html">キャリア</a>
          </li>
          <li>
            <a href="https://news.adobe.com/home/default.aspx"
              >ニュースルーム</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/corporate-responsibility.html"
              >企業の社会的責任</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/investor-relations.html"
              >投資家の皆様へ（英語）</a
            >
          </li>
          <li>
            <a
              href="https://www.adobe.com/corporate-responsibility/supply-chain.html"
              >サプライチェーン</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/trust.html">Trust Center</a>
          </li>
          <li><a href="https://www.adobe.com/events.html">イベント</a></li>
          <li>
            <a href="https://www.adobe.com/diversity.html"
              >ダイバーシティとインクルージョン（英語）</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/about-adobe/integrity.html"
              >企業倫理</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/covid-19-response.html"
              >COVID-19 Responses</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="language-selector">
    <div>
      <div data-align="justify">
        <a href="/fragments/en/languages/languages">言語を変更</a>
      </div>
    </div>
  </div>
  <div class="social">
    <div>
      <div>
        <p>
          <a href="https://www.facebook.com/Adobe/"
            >https://www.facebook.com/Adobe/</a
          >
        </p>
        <p>
          <a href="https://twitter.com/Adobe">https://twitter.com/Adobe</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/company/adobe"
            >https://www.linkedin.com/company/adobe</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/adobe/"
            >https://www.instagram.com/adobe/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyrights">
    <div>
      <div>
        <p>
          Copyright © 2024 Adobe. All Rights Reserved. /
          <a href="https://www.adobe.com/go/marketingcloud_privacy"
            >プライバシー</a
          >
          /
          <a href="https://www.adobe.com/legal/terms.html">利用条件</a>
          /
          <!-- Please ensure href="#onetrust" remain unchanged - FE depends on it. -->
          <a href="#onetrust" title="Cookie preferences">Cookie preferences</a>
          /
          <a href="https://www.adobe.com/privacy/ca-rights.html"
            >個人情報の譲渡・販売不可</a
          >
          /
          <a
            href="https://www.adobe.com/privacy/opt-out.html#interest-based-ads"
            >AdChoices</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
