<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>Was deze content nuttig?</h3>
      </div>
      <div class="like-buttons">
        <p>Fout bij het laden. Vernieuw de pagina.</p>
        <p>Fout bij het laden. Vernieuw de pagina.</p>
        <p>Content is nuttig</p>
        <p>Content is niet nuttig</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>Hartelijk dank voor uw feedback.</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>Vernieuw de pagina om meer feedback te geven.</div>
      <div>Kunt u uw keuze uitleggen of uitleggen wat beter kan?</div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>Stem om optionele feedback te verschaffen en dien uw stem in</div>
    </div>
    <div class="submit-options">
      <div>
        <p>Verzenden</p>
        <p>Geef feedback om in te dienen</p>
        <p>Feedback verzenden</p>
        <p>Negeren</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>Gedetailleerde feedbackopties</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>Andere feedbackopties</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>Een probleem melden</p>
        <p>GitHub openen om te melden</p>
        <p>Deze functie is niet beschikbaar op deze pagina</p>
      </div>
      <div class="edit">
        <p>Een bewerking voorstellen</p>
        <p>GitHub openen om te bewerken</p>
        <p>Deze functie is niet beschikbaar op deze pagina</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/nl/docs/contributor/contributor-guide/introduction"
            >Leer hoe u een bijlage kunt leveren.</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
