<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>War dieser Inhalt hilfreich?</h3>
      </div>
      <div class="like-buttons">
        <p>Fehler beim Laden. Bitte aktualisieren Sie die Seite.</p>
        <p>Fehler beim Laden. Bitte aktualisieren Sie die Seite.</p>
        <p>Inhalt ist hilfreich</p>
        <p>Inhalt ist nicht hilfreich</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>Vielen Dank für Ihr Feedback.</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>Aktualisieren Sie die Seite, um mehr Feedback zu geben.</div>
      <div>
        Nehmen Sie sich einen Moment Zeit, um Ihre Auswahl zu erläutern und uns
        mitzuteilen, wie wir uns verbessern können.
      </div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>Abstimmen, optionales Feedback abgeben und senden</div>
    </div>
    <div class="submit-options">
      <div>
        <p>Senden</p>
        <p>Geben Sie Feedback zum Absenden</p>
        <p>Feedback senden</p>
        <p>Verwerfen</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>Detaillierte Feedback-Optionen</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>Andere Feedback-Optionen</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>Problem melden</p>
        <p>GitHub zur Meldung öffnen</p>
        <p>Diese Funktion ist auf dieser Seite nicht verfügbar</p>
      </div>
      <div class="edit">
        <p>Bearbeitung vorschlagen</p>
        <p>Feedback geben und senden</p>
        <p>Diese Funktion ist auf dieser Seite nicht verfügbar</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/de/docs/contributor/contributor-guide/introduction"
            >Erfahren Sie, wie Sie beitragen können.</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
