<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>此内容有帮助吗？</h3>
      </div>
      <div class="like-buttons">
        <p>加载错误。刷新页面。</p>
        <p>加载错误。刷新页面。</p>
        <p>内容有帮助</p>
        <p>内容没有帮助</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>感谢您的反馈。</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>刷新页面以提供更多反馈。</div>
      <div>请花一些时间解释您的选择或者我们该如何改进。</div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>投票以提供可选的反馈并提交</div>
    </div>
    <div class="submit-options">
      <div>
        <p>提交</p>
        <p>提供反馈以提交</p>
        <p>提交反馈</p>
        <p>拒绝</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>详细反馈选项</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>其他反馈选项</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>报告问题</p>
        <p>打开 GitHub 进行报告</p>
        <p>此功能在此页面上不可用</p>
      </div>
      <div class="edit">
        <p>建议编辑</p>
        <p>打开 GitHub 进行编辑</p>
        <p>此功能在此页面上不可用</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/zh-hans/docs/contributor/contributor-guide/introduction"
            >了解如何贡献。</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
