<div>
  <div class="footer-breadcrumb">
    <div>
      <div>
        <a href="/fr" title="Accueil"></a>
        <a data-id="footer-breadcrumb" href="/fr">Experience League</a>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="learn">Formation</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a href="/fr/playlists">Listes de lecture</a>
          </li>
          <li>
            <a href="/fr/docs/home-tutorials">Tutoriels</a>
          </li>
          <li>
            <a href="https://learning.adobe.com/"
              >Formation dirigée par un instructeur</a
            >
          </li>
          <li>
            <a href="/fr/browse">Parcourez tout le contenu d'apprentissage</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="documentation">Documentation</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/fr/docs">Page d’accueil de la documentation</a>
          </li>
          <li>
            <a href="/fr/docs/release-notes/experience-cloud/current"
              >Notes de mise à jour d’Experience Cloud</a
            >
          </li>
          <li>
            <a href="https://helpx.adobe.com/lt/acrobat/using/whats-new.html"
              >Notes de mise à jour de Document Cloud</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="certifications">Certifications</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/fr/docs/certification/program/overview"
              >Accueil des certifications</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="events">Événements</h2>
      </div>
      <div>
        <ul>
          <li><a href="/events?lang=fr">Accueil des événements</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="community">Communauté</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=fr"
              >Page d’accueil de la communauté</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-advertising-cloud/ct-p/adobe-advertising-cloud-community?profile.language=fr"
              >Advertising Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community?profile.language=fr"
              >Analytics</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-audience-manager/ct-p/adobe-audience-manager-community?profile.language=fr"
              >Audience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-campaign-standard/ct-p/adobe-campaign-standard-community?profile.language=fr"
              >Campaign Standard</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-cloud/ct-p/adobe-experience-cloud-community?profile.language=fr"
              >Experience Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community?profile.language=fr"
              >Experience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community?profile.language=fr"
              >Experience Platform</a
            >
          </li>
          <li><a href="https://community.magento.com/">Magento Commerce</a></li>
          <li>
            <a href="https://nation.marketo.com/">Marketo Engage</a>
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community?profile.language=fr"
              >Target</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront"
              >Workfront, an Adobe company</a
            >
          </li>
          <li>
            <a href="/home?lang=fr#feedback">Panneau de commentaires</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="support">Assistance</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/home?lang=fr#support">Support Experience Cloud</a>
          </li>
          <li>
            <a href="https://helpx.adobe.com/support/document-cloud.html"
              >Support Document Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=fr"
              >Forums de la communauté</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="resources">Ressources</h2>
      </div>
      <div>
        <ul>
          <li><a href="https://www.adobe.io/">Adobe I/O</a></li>
          <li><a href="https://status.adobe.com/">Statut Adobe</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="adobe-account">Compte Adobe</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="#">Connexion à votre compte</a>
          </li>
          <li>
            <a href="/fr/home{'auth-only':'true'}">Profil</a>
          </li>
          <li>
            <a href="/fr/home/awards{'auth-only':'true'}"
              >Réalisations</a
            >
          </li>
          <li>
            <a href="/fr/home/bookmarks{'auth-only':'true'}"
              >Contenu marqué d’un signet</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-item">
    <div>
      <div>
        <h2 id="adobe">Adobe</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li><a href="//www.adobe.com/about-adobe.html">À propos</a></li>
          <li>
            <a href="https://www.adobe.com/careers.html">Carrières</a>
          </li>
          <li>
            <a href="https://news.adobe.com/home/default.aspx">Espace presse</a>
          </li>
          <li>
            <a href="https://www.adobe.com/corporate-responsibility.html"
              >Responsabilité des entreprises</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/investor-relations.html"
              >Relations avec les investisseurs</a
            >
          </li>
          <li>
            <a
              href="https://www.adobe.com/corporate-responsibility/supply-chain.html"
              >Chaîne d’approvisionnement</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/trust.html">Centre de confiance</a>
          </li>
          <li><a href="https://www.adobe.com/events.html">Événements</a></li>
          <li>
            <a href="https://www.adobe.com/diversity.html"
              >Diversité et inclusion</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/about-adobe/integrity.html"
              >Intégrité</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/covid-19-response.html"
              >COVID-19 Responses</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="language-selector">
    <div>
      <div data-align="justify">
        <a href="/fragments/en/languages/languages">Changer la langue</a>
      </div>
    </div>
  </div>
  <div class="social">
    <div>
      <div>
        <p>
          <a href="https://www.facebook.com/Adobe/"
            >https://www.facebook.com/Adobe/</a
          >
        </p>
        <p>
          <a href="https://twitter.com/Adobe">https://twitter.com/Adobe</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/company/adobe"
            >https://www.linkedin.com/company/adobe</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/adobe/"
            >https://www.instagram.com/adobe/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyrights">
    <div>
      <div>
        <p>
          Copyright © 2024 Adobe. All Rights Reserved. /
          <a href="https://www.adobe.com/go/marketingcloud_privacy"
            >Confidentialité</a
          >
          /
          <a href="https://www.adobe.com/legal/terms.html"
            >Conditions d’utilisation</a
          >
          /
          <!-- Please ensure href="#onetrust" remain unchanged - FE depends on it. -->
          <a href="#onetrust" title="Cookie preferences">Cookie preferences</a>
          /
          <a href="https://www.adobe.com/privacy/ca-rights.html"
            >Ne pas vendre mes données personnelles</a
          >
          /
          <a
            href="https://www.adobe.com/privacy/opt-out.html#interest-based-ads"
            >AdChoices</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
