<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>Was this content helpful?</h3>
      </div>
      <div class="like-buttons">
        <p>Error loading. Refresh page.</p>
        <p>Error loading. Refresh page.</p>
        <p>Content is helpful</p>
        <p>Content is not helpful</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>Thank you for your feedback.</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>Refresh your page to provide more feedback.</div>
      <div>
        Please take a moment to explain your selection or how we could improve.
      </div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>Vote to provide optional feedback and submit</div>
    </div>
    <div class="submit-options">
      <div>
        <p>Submit</p>
        <p>Provide feedback to submit</p>
        <p>Submit feedback</p>
        <p>Dismiss</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>Detailed feedback options</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>Other feedback options</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>Report an issue</p>
        <p>Open GitHub to report</p>
        <p>This feature is unavailable on this page</p>
      </div>
      <div class="edit">
        <p>Suggest an edit</p>
        <p>Open GitHub to edit</p>
        <p>This feature is unavailable on this page</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/docs/contributor/contributor-guide/introduction.html?lang=sv#_blank"
            >Learn how to contribute.</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
