<div>
  <div class="qualtrics-feedback">
    <div>
      <div></div>
    </div>
  </div>
  <div class="first-question">
    <div class="question">
      <div>
        <h3>Var innehållet användbart?</h3>
      </div>
      <div class="like-buttons">
        <p>Fel vid inläsning. Uppdatera sidan.</p>
        <p>Fel vid inläsning. Uppdatera sidan.</p>
        <p>Innehållet är användbart</p>
        <p>Innehållet är inte användbart</p>
      </div>
      <div class="spinner">
        <div>
          <div>spinner icon</div>
        </div>
      </div>
      <div class="mobile-toggle">
        <p>chevron-up icon</p>
        <p>chevron-down icon</p>
      </div>
    </div>
    <div class="follow-up">
      <div>
        <h3>Tack för din feedback.</h3>
      </div>
      <div class="mobile-toggle">
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
      <div>Uppdatera din sida för att ge mer feedback.</div>
      <div>
        Ta ett ögonblick att förklara ditt val eller hur vi kan bli bättre.
      </div>
    </div>
  </div>
  <div class="second-question">
    <div class="vote">
      <div>Placeholder content</div>
      <div>Rösta för att ge frivillig feedback och skicka in</div>
    </div>
    <div class="submit-options">
      <div>
        <p>Skicka</p>
        <p>Ge feedback att skicka in</p>
        <p>Skicka feedback</p>
        <p>Avvisa</p>
      </div>
    </div>
  </div>
  <div class="opened-controls">
    <div>
      <div>
        <div>Detaljerad feedback: alternativ</div>
      </div>
    </div>
    <div class="open-toggle">
      <div>
        <div>chevron-up icon</div>
        <div>chevron-down icon</div>
      </div>
    </div>
  </div>
  <div class="header-text-mobile">
    <div>
      <div>Andra feedbackalternativ</div>
    </div>
  </div>
  <div class="expanded-controls">
    <div class="git-buttons">
      <div class="report">
        <p>Rapportera ett problem</p>
        <p>Öppna GitHub för att rapportera</p>
        <p>Den här funktionen är inte tillgänglig på den här sidan</p>
      </div>
      <div class="edit">
        <p>Föreslå en redigering</p>
        <p>Öppna GitHub för att redigera</p>
        <p>Den här funktionen är inte tillgänglig på den här sidan</p>
      </div>
    </div>
    <div class="contribute-link">
      <div>
        <div>
          <a
            href="https://experienceleague.adobe.com/sv/docs/contributor/contributor-guide/introduction"
            >Lär dig bidra.</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="close-button">
    <div>
      <div></div>
    </div>
  </div>
</div>
