<div>
  <div class="footer-breadcrumb">
    <div>
      <div>
        <a href="/pt-br" title="Página inicial"></a>
        <a data-id="footer-breadcrumb" href="/pt-br">Experience League</a>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="learn">Aprender</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a href="/pt-br/playlists">Listas de reprodução</a>
          </li>
          <li>
            <a href="/pt-br/docs/home-tutorials">Tutoriais</a>
          </li>
          <li>
            <a href="https://learning.adobe.com/"
              >Treinamento ministrado por instrutor</a
            >
          </li>
          <li>
            <a href="/pt-br/browse"
              >Navegue por todo o conteúdo de aprendizagem</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="documentation">Documentação</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/pt-br/docs">Página inicial da documentação</a>
          </li>
          <li>
            <a href="/pt-br/docs/release-notes/experience-cloud/current"
              >notas de versão do Experience Cloud</a
            >
          </li>
          <li>
            <a href="https://helpx.adobe.com/en/acrobat/using/whats-new.html"
              >notas de versão do Document Cloud</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="certifications">Certificação</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/pt-br/certification-home"
              >Página inicial de certificações</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="events">Eventos</h2>
      </div>
      <div>
        <ul>
          <li><a href="/pt-br/events">Página inicial de eventos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="community">Comunidade</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=pt"
              >Página inicial da Comunidade</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-advertising-cloud/ct-p/adobe-advertising-cloud-community?profile.language=pt"
              >Advertising Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community?profile.language=pt"
              >Analytics</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-audience-manager/ct-p/adobe-audience-manager-community?profile.language=pt"
              >Audience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-campaign-standard/ct-p/adobe-campaign-standard-community?profile.language=pt"
              >Campaign Standard</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-cloud/ct-p/adobe-experience-cloud-community?profile.language=pt"
              >Experience Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community?profile.language=pt"
              >Experience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community?profile.language=pt"
              >Experience Platform</a
            >
          </li>
          <li><a href="https://community.magento.com/">Magento Commerce</a></li>
          <li>
            <a href="https://nation.marketo.com/">Marketo Engage</a>
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community?profile.language=pt"
              >Target</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront"
              >Workfront, an Adobe company</a
            >
          </li>
          <li>
            <a href="/home?lang=pt-br#feedback">Programa de comentários</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="support">Suporte</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="/home?lang=pt-br#support">suporte para Experience Cloud</a>
          </li>
          <li>
            <a href="https://helpx.adobe.com/support/document-cloud.html"
              >suporte para Document Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=pt"
              >Fóruns da comunidade</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="resources">Recursos</h2>
      </div>
      <div>
        <ul>
          <li><a href="https://www.adobe.io/">Adobe I/O</a></li>
          <li><a href="https://status.adobe.com/">Status do Adobe</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="adobe-account">Conta do Adobe</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="#">Faça login em sua conta</a>
          </li>
          <li>
            <a href="/pt-br/home/profile-settings{'auth-only':'true'}"
              >Perfil</a
            >
          </li>
          <li>
            <a href="/pt-br/home/bookmarks{'auth-only':'true'}"
              >Conteúdo marcado</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-item">
    <div>
      <div>
        <h2 id="adobe">Adobe</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li><a href="//www.adobe.com/about-adobe.html">Sobre</a></li>
          <li>
            <a href="https://www.adobe.com/careers.html">Carreiras</a>
          </li>
          <li>
            <a href="https://news.adobe.com/home/default.aspx"
              >Sala de notícias</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/corporate-responsibility.html"
              >Responsabilidade corporativa</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/investor-relations.html"
              >Relações com investidores</a
            >
          </li>
          <li>
            <a
              href="https://www.adobe.com/corporate-responsibility/supply-chain.html"
              >Cadeia de suprimento</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/trust.html">Central de confiança</a>
          </li>
          <li><a href="https://www.adobe.com/events.html">Eventos</a></li>
          <li>
            <a href="https://www.adobe.com/diversity.html"
              >Diversidade e inclusão</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/about-adobe/integrity.html"
              >Integridade</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="language-selector">
    <div>
      <div data-align="justify">
        <a href="/fragments/en/languages/languages">Alterar idioma</a>
      </div>
    </div>
  </div>
  <div class="social">
    <div>
      <div>
        <p>
          <a href="https://www.facebook.com/Adobe/"
            >https://www.facebook.com/Adobe/</a
          >
        </p>
        <p>
          <a href="https://twitter.com/Adobe">https://twitter.com/Adobe</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/company/adobe"
            >https://www.linkedin.com/company/adobe</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/adobe/"
            >https://www.instagram.com/adobe/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyrights">
    <div>
      <div>
        <p>
          Copyright © 2025 Adobe. All Rights Reserved. /
          <a href="https://www.adobe.com/go/marketingcloud_privacy"
            >Privacidade</a
          >
          /
          <a href="https://www.adobe.com/legal/terms.html">Termos de uso</a>
          /
          <!-- Please ensure href="#onetrust" remain unchanged - FE depends on it. -->
          <a href="#onetrust" title="Cookie preferences"
            >Preferências de cookies</a
          >
          /
          <a href="https://www.adobe.com/privacy/ca-rights.html"
            >Não vender minhas informações pessoais</a
          >
          /
          <a
            href="https://www.adobe.com/privacy/opt-out.html#interest-based-ads"
            >AdChoices</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
