<!DOCTYPE html>
<html>
   <head></head>
   <body>
      <header></header>
      <main>
         <div>
            <div class="quick-links">
               <div>
                  <div>
                     <h5 id="quick-links">QUICK LINKS</h5>
                  </div>
               </div>
               <div class="link-group">
                  <div>
                     <div>
                        <p><a href="https://experienceleaguecommunities.adobe.com">Community home</a></p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="link-group">
                  <div>
                     <div>
                        <p><a href="https://experienceleaguecommunities.adobe.com/t5/custom/page/page-id/MeetTheAdvocates">Experience Cloud Advocates</a></p>
                        <p>Meet our community of customer advocates</p>
                     </div>
                  </div>
               </div>
               <div class="link-group">
                  <div>
                     <div>
                        <p><a href="https://experienceleague.adobe.com/events/">Events</a></p>
                        <p>Attend local and virtual events</p>
                     </div>
                  </div>
               </div>
               <div class="link-group">
                  <div>
                     <div>
                        <p><a href="https://experienceleaguecommunities.adobe.com/t5/custom/page/page-id/employeeadvisors">Employee Advisors</a></p>
                        <p>Connect with one of our experts</p>
                     </div>
                  </div>
               </div>
               <div class="link-group">
                  <div>
                     <div>
                        <p><a href="https://experienceleaguecommunities.adobe.com/t5/experience-league-showcase-2022/con-p/exl-showcase-2022/tab/entries">Experience League Showcase</a></p>
                        <p>Read real-world use cases of Experience Cloud products written by your peers</p>
                     </div>
                  </div>
               </div>
               <div class="link-group">
                  <div>
                     <div>
                        <p><a href="https://experienceleague.adobe.com/#feedback">Adobe Feedback Program</a></p>
                        <p>Influence Adobe product development</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="communities-by-product">
               <div>
                  <div>
                     <h5 id="communities-by-product">COMMUNITIES BY PRODUCT</h5>
                  </div>
               </div>
               <div>
                  <div>
                     <ul>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-advertising-cloud/ct-p/adobe-advertising-cloud-community">Advertising Cloud</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community">Analytics</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-audience-manager/ct-p/adobe-audience-manager-community">Audience Manager</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-campaign/ct-p/adobe-campaign-classic-community">Campaign Classic v7 &amp; Campaign v8</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-campaign-standard/ct-p/adobe-campaign-standard-community">Campaign Standard</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-developer-cloud/ct-p/adobe-io">Developer</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-cloud/ct-p/adobe-experience-cloud-community">Experience Cloud</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community">Experience Manager Sites &amp; More</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community">Experience Platform</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-journey-optimizer/ct-p/journey-optimizer">Journey Optimizer</a></li>
                        <li><a href="https:///experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community">Target</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/real-time-customer-data-platform/ct-p/Real-time-CDP">Real-Time CDP</a></li>
                        <li><a href="https://experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront">Workfront</a></li>
                        <li><a href="https://community.adobe.com/#_blank">Creative Cloud</a></li>
                        <li><a href="https://community.adobe.com/t5/acrobat/ct-p/ct-acrobat?profile.language=en&page=1&sort=latest_replies&filter=all&lang=all&tabid=discussions#_blank">Document Cloud</a></li>
                        <li><a href="https://community.magento.com/#_blank">Commerce</a></li>
                        <li><a href="https://nation.marketo.com/#_blank">Marketo Engage</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <footer></footer>
   </body>
</html>