<!doctype html>
<html>
  <head></head>
  <body>
    <header></header>
    <main>
      <div>
        <div class="featured-products">
          <div>
            <div>
              <h5 id="featured-products">FEATURED PRODUCTS</h5>
            </div>
          </div>
          <div>
            <div>
              <ul>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/analytics-learn/tutorials/overview.html"
                    >Analytics</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/campaign-standard-learn/tutorials/overview.html"
                    >Campaign</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/commerce-learn/tutorials/overview.html"
                    >Commerce</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/customer-journey-analytics-learn/tutorials/overview.html"
                    >Customer Journey Analytics</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/platform-learn/data-collection/overview.html"
                    >Data collection</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/experience-manager-learn/aem-tutorials/overview.html"
                    >Experience Manager</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/platform-learn/tutorials/overview.html"
                    >Experience Platform</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/journey-optimizer-learn/tutorials/overview.html"
                    >Journey Optimizer</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/marketo-learn/tutorials/overview.html"
                    >Marketo Engage</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/target-learn/tutorials/overview.html"
                    >Target</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/platform-learn/tutorials/rtcdp/understanding-the-real-time-customer-data-platform.html"
                    >Real-Time CDP</a
                  >
                </li>
                <li>
                  <a
                    href="https://experienceleague.adobe.com/docs/workfront-learn/tutorials-workfront/home.html"
                    >Workfront</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content-types desktop">
          <div>
            <div>
              <h5 id="content-types-desktop">CONTENT TYPES</h5>
            </div>
          </div>
          <div class="link-group">
            <div>
              <div>
                <p>
                  <a href="https://experienceleague.adobe.com/#courses">Courses</a>
                </p>
                <p>Expertly curated collections of lessons</p>
              </div>
            </div>
          </div>
          <div class="link-group">
            <div>
              <div>
                <p>
                  <a href="https://experienceleague.adobe.com/docs/home-tutorials.html">Tutorials</a>
                </p>
                <p>Solution-specific videos and how-tos</p>
              </div>
            </div>
          </div>
          <div class="link-group">
            <div>
              <div>
                <p>
                  <a href="https://learning.adobe.com/#_blank">Instructor-led training</a>
                </p>
                <p>
                  Live &amp; on-demand courses led by Adobe-certified
                  instructors
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-types mobile">
          <div>
            <div>
              <h5 id="content-types-mobile">CONTENT TYPES</h5>
            </div>
          </div>
          <div>
            <div>
              <ul>
                <li><a href="https://experienceleague.adobe.com/#courses">Courses</a></li>
                <li><a href="https://experienceleague.adobe.com/docs/home-tutorials.html">Tutorials</a></li>
                <li><a href="https://learning.adobe.com/">Instructor-led training</a></li>
                <li><a href="https://experienceleague.adobe.com/?lang=en#recommended">Browse content library</a></li>
                <li><a href="https://experienceleague.adobe.com/?lang=en#learn">View all learning options</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="browse-all-content">
          <div>
            <div>
              <a
                href="https://experienceleague.adobe.com/#learn"
                title="Browse all content"
                >Browse all content</a
              >
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
