<!DOCTYPE html>
<html>
   <head></head>
   <body>
      <header></header>
      <main>
         <div>
            <div class="featured-products">
               <div>
                  <div>
                     <h5 id="featured-products">FEATURED PRODUCTS</h5>
                  </div>
               </div>
               <div>
                  <div>
                     <ul>
                        <li><a href="https://experienceleague.adobe.com/docs/analytics-learn/tutorials/overview.html">Analytics</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/campaign-standard-learn/tutorials/overview.html">Campaign</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/commerce-learn/tutorials/overview.html">Commerce</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/customer-journey-analytics-learn/tutorials/overview.html">Customer Journey Analytics</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/platform-learn/data-collection/overview.html">Data collection</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/experience-manager-learn/aem-tutorials/overview.html">Experience Manager</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/platform-learn/tutorials/overview.html">Experience Platform</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/journey-optimizer-learn/tutorials/overview.html">Journey Optimizer</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/marketo-learn/tutorials/overview.html">Marketo Engage</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/target-learn/tutorials/overview.html">Target</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/platform-learn/tutorials/rtcdp/understanding-the-real-time-customer-data-platform.html">Real-Time CDP</a></li>
                        <li><a href="https://experienceleague.adobe.com/docs/workfront-learn/tutorials-workfront/home.html">Workfront</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="two-section">
               <div class="business-solutions">
                  <div>
                     <div>
                        <h5 id="business-solutions">BUSINESS SOLUTIONS</h5>
                     </div>
                  </div>
                  <div>
                     <div>
                        <ul>
                           <li><a href="https://business.adobe.com/solutions/b2b-marketing.html">B2B marketing</a></li>
                           <li><a href="https://business.adobe.com/solutions/content-management.html">Content management</a></li>
                           <li><a href="https://business.adobe.com/products/workfront-aem-assets-cc.html">Content supply chain</a></li>
                           <li><a href="https://business.adobe.com/products/real-time-customer-data-platform/rtcdp.html">Customer data platform</a></li>
                           <li><a href="https://business.adobe.com/solutions/commerce.html">Digital commerce</a></li>
                           <li><a href="https://experienceleague.adobe.com/docs/journey-orchestration-learn/tutorials/overview.html">Journey orchestration</a></li>
                           <li><a href="https://business.adobe.com/products/analytics/adobe-analytics.html">Marketing analytics</a></li>
                           <li><a href="https://business.adobe.com/products/marketo/adobe-marketo.html">Marketing automation</a></li>
                           <li><a href="https://business.adobe.com/solutions/customer-experience-personalization-at-scale.html">Personalization at scale</a></li>
                           <li><a href="https://business.adobe.com/products/workfront/main.html">Workflow management</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="content-types">
                  <div>
                     <div>
                        <h5 id="content-types">CONTENT TYPES</h5>
                     </div>
                  </div>
                  <div class="link-group">
                     <div>
                        <div>
                           <p><a href="https://experienceleague.adobe.com/#courses">Courses</a></p>
                           <p>Expertly curated collections of lessons</p>
                        </div>
                     </div>
                  </div>
                  <div class="link-group">
                     <div>
                        <div>
                           <p><a href="https://experienceleague.adobe.com/docs/home-tutorials.html">Tutorials</a></p>
                           <p>Solution-specific videos and how-tos</p>
                        </div>
                     </div>
                  </div>
                  <div class="link-group">
                     <div>
                        <div>
                           <p><a href="https://learning.adobe.com/#_blank">Instructor-led training</a></p>
                           <p>Live &amp; on-demand courses led by Adobe-certified instructors</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="browse-all-content">
               <div>
                  <div>
                     <a href="https://experienceleague.adobe.com/#learn" title="Browse all content">Browse all content</a>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <footer></footer>
   </body>
</html>