<div>
   <div class="gnav-brand logo">
      <div>
         <div>
            <h2><a href="https://experienceleague.adobe.com/?lang=en#support">Experience League</a></h2>
         </div>
      </div>
   </div>
</div>
<div>
   <div class="large-menu">
      <div>
         <div>
            <h2 id="topnav-learn"><a href="/fragments/en/header/learn.html">Learn</a></h2>
         </div>
      </div>
   </div>
</div>
<div>
   <h2 id="topnav-pricing"><a href="https://experienceleague.adobe.com/docs/?lang=en">Documentation</a></h2>
</div>
<div>
   <h2 id="topnav-certifications"><a href="https://experienceleague.adobe.com/docs/certification/program/overview.html?lang=en">Certifications</a></h2>
</div>
<div>
   <h2 id="topnav-events"><a href="https://www.adobe.com/events.html">Events</a></h2>
</div>
<div>
   <div class="large-menu">
      <div>
         <div>
            <h2 id="topnav-community"><a href="/fragments/en/header/community.html">Community</a></h2>
         </div>
      </div>
   </div>
</div>
<div>
   <h2 id="topnav-support"><a href="/?lang=en#support">Support</a></h2>
</div>
<div>
   <h2 id="topnav-signup"><a href="#">Sign Up</a></h2>
</div>
<div class="profile">
   <div>
      <div>
         <p><a href="https://www.adobe.com/login">Sign In</a></p>
         <p><a href="https://account.adobe.com/">View Account</a></p>
         <p><a href="https://adminconsole.adobe.com/team">Manage Team</a></p>
         <p><a href="https://adminconsole.adobe.com/">Manage Enterprise</a></p>
         <p><a href="https://account.adobe.com/">Sign Out</a></p>
      </div>
   </div>
   <div>
      <div>
         <ul>
            <li><a href="https://experiencecloud.adobe.com/exc-content/login.html">Experience Cloud</a></li>
            <li><a href="https://account.magento.com/customer/account/login">Commerce (Magento)</a></li>
            <li><a href="/products/marketo/login">Marketo Engage</a></li>
            <li><a href="https://business.adobe.com/products/workfront/login.html#_dnt">Workfront</a></li>
            <li><a href="https://adobe.com?sign-in=true">Adobe Account</a></li>
         </ul>
      </div>
   </div>
</div>
<div>
   <div class="search">
      <div>
         <div>
            <p>Search</p>
            <p>No results</p>
            <p><a href="https://helpx.adobe.com/globalsearch.html?q=&#x26;start_index=0&#x26;country=US&#x26;activeScopes=%5B%22adobe_com%3Ablog%22%5D&#x26;scopeConfigs=%5B%7B%22value%22%3A%22adobe_com%3Ablog%22%2C%22renderStyle%22%3A%22vert%22%2C%22seeMoreLink%22%3Anull%2C%22isSelectable%22%3Atrue%7D%5D&#x26;filters=%7B%22products%22%3A%5B%5D%7D&#x26;banners=%7B%22aboveResults%22%3A%7B%22count%22%3A3%2C%22ids%22%3A%5B%22auto%22%5D%7D%2C%22sidebar%22%3A%7B%22count%22%3A0%2C%22ids%22%3A%5B%5D%7D%7D&#x26;ctrls=%7B%22prodFilts%22%3Afalse%7D&#x26;gnavExp=blogs%2Fblog-gnav">Advanced search</a></p>
         </div>
      </div>
      <div>
         <ul>
            <li><span>All</span></li>
            <li><span>Certification</span></li>
            <li><span>Community</span></li>
            <li><span>Courses</span></li>
            <li><span>Documentation</span></li>
            <li><span>Events</span></li>
            <li><span>Tutorials</span></li>
         </ul>
      </div>
   </div>
   <div>
      <div class="language-selector">
         <div>
            <div data-align="justify"><a href="/fragments/en/footer/languages/languages.html">Change language</a></div>
         </div>
      </div>
   </div>
   <div class="adobe-logo">
      <div>
         <div><a href="https://www.adobe.com/">Adobe</a></div>
      </div>
   </div>
</div>