<div>
   <h5 id="quick-links">Quick links</h5>
   <div class="link-group">
      <div>
         <div>
            <p><a href="https://experienceleaguecommunities.adobe.com/t5/custom/page/page-id/MeetTheAdvocates?profile.language=en">Experience Cloud Advocates</a></p>
            <p>Meet our community of customer advocates</p>
         </div>
      </div>
   </div>
   <div class="link-group">
      <div>
         <div>
            <p><a href="https://experienceleague.adobe.com/events/?lang=en">Events</a></p>
            <p>Attend local and virtual events</p>
         </div>
      </div>
   </div>
   <div class="link-group">
      <div>
         <div>
            <p><a href="https://experienceleaguecommunities.adobe.com/t5/custom/page/page-id/employeeadvisors?profile.language=en">Employee Advisors</a></p>
            <p>Connect with one of our experts</p>
         </div>
      </div>
   </div>
   <div class="link-group">
      <div>
         <div>
            <p><a href="https://experienceleaguecommunities.adobe.com/t5/experience-league-showcase-2022/con-p/exl-showcase-2022/tab/entries/?profile.language=en">Experience League Showcase</a></p>
            <p>Read real-world use cases of Experience Cloud products written by your peers</p>
         </div>
      </div>
   </div>
</div>
<div>
   <h5 id="communities-by-product">Communities by product</h5>
   <ul>
      <li><a href="//experienceleaguecommunities.adobe.com/?profile.language=en" target="_blank">Community home</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/adobe-advertising-cloud/ct-p/adobe-advertising-cloud-community?profile.language=en" target="_blank">Advertising</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community?profile.language=en" target="_blank">Analytics</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/adobe-audience-manager/ct-p/adobe-audience-manager-community?profile.language=en" target="_blank">Audience Manager</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/adobe-campaign/ct-p/adobe-campaign-classic-community?profile.language=en"  target="_blank">Campaign Classic v7 &amp; Campaign v8</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/adobe-campaign-standard/ct-p/adobe-campaign-standard-community?profile.language=en"  target="_blank">Campaign Standard</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/adobe-developer-cloud/ct-p/adobe-io?profile.language=en" target="_blank">Developer</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/adobe-experience-cloud/ct-p/adobe-experience-cloud-community?profile.language=en"  target="_blank">Experience Cloud</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community?profile.language=en target="_blank">Experience Manager Sites &amp; More</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community?profile.language=en" target="_blank">Experience Platform</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/adobe-journey-optimizer/ct-p/journey-optimizer?profile.language=en"  target="_blank">Journey Optimizer</a></li>
      <li><a href="///experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community?profile.language=en"  title="Target" target="_blank">Target</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/real-time-customer-data-platform/ct-p/Real-time-CDP?profile.language=en"  target="_blank">Real-Time Customer Data Platform</a></li>
      <li><a href="//experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront?profile.language=en" target="_blank">Workfront</a></li>
      <li><a href="//community.adobe.com/" target="_blank">Creative Cloud</a></li>
      <li><a href="https://community.adobe.com/t5/acrobat/ct-p/ct-acrobat?profile.language=en&amp;page=1&amp;sort=latest_replies&amp;filter=all&amp;lang=all&amp;tabid=discussions" target="_blank">Document Cloud</a></li>
      <li><a href="//community.magento.com/" target="_blank">Commerce</a></li>
      <li><a href="//nation.marketo.com/" target="_blank">Marketo Engage</a></li>
   </ul>
</div>