<div>
   <ul>
      <li><a href="https://experienceleague.adobe.com/?lang=en#courses">Courses</a></li>
      <li><a href="https://experienceleague.adobe.com/?lang=en#dashboard/learning">Recommended courses</a></li>
      <li><a href="https://experienceleague.adobe.com/docs/home-tutorials.html?lang=en">Tutorials</a></li>
      <li><a href="https://experienceleague.adobe.com/docs/certification/certification/overview.html?lang=en">Certification</a></li>
      <li><a href="https://experienceleague.adobe.com/events/?lang=en">Events</a></li>
      <li><a href="https://experienceleague.adobe.com/?lang=en#instructor-led">Instructor-led training</a></li>
      <li><a href="https://experienceleague.adobe.com/?lang=en#recommended">Browse content library</a></li>
      <li><a href="https://experienceleague.adobe.com/?lang=en#learn">View all learning options</a></li>
   </ul>
</div>