<div>
   <h5 id="featured-products">FEATURED PRODUCTS</h5>
   <ul>
	  <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community?profile.language=en">Analytics</a></li>
	  <li><a href="https://experienceleague.adobe.com/docs/campaign-classic/using/getting-started/starting-with-adobe-campaign/about-adobe-campaign-classic.html?lang=en">Campaign</a></li>
	  <li><a href="https://community.magento.com/">Commerce</a></li>
      <li><a href="https://experienceleague.adobe.com/docs/analytics-platform/using/cja-landing.html?lang=en">Customer Journey Analytics</a></li>
      <li><a href="https://experienceleague.adobe.com/docs/experience-platform/collection/home.html?lang=en">Data collection</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community?profile.language=en">Experience Manager</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community?profile.language=en">Experience Platform</a></li>
	  <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-journey-optimizer/ct-p/journey-optimizer?profile.language=en">Journey Optimizer</a></li>
      <li><a href="https://nation.marketo.com/">Marketo Engage</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community?profile.language=en">Target</a></li>
	  <li><a href="//experienceleaguecommunities.adobe.com/t5/real-time-customer-data-platform/ct-p/Real-time-CDP?profile.language=en">Real-Time CDP</a></li>
      <li><a href="https://experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront">Workfront</a></li>
   </ul>
</div>
<div>
   <div>
   <h5 id="business-solutions">BUSINESS SOLUTIONS</h5>
   <ul>
   <li><a href="https://experienceleague.adobe.com/docs/integrations-learn/experience-cloud/solution-categories/b2b.html?lang=en">B2B marketing</a></li>
   <li><a href="https://experienceleague.adobe.com/docs/integrations-learn/experience-cloud/solution-categories/content-management.html?lang=en">Content management</a></li>
   <li><a href="https://experienceleague.adobe.com/docs/integrations-learn/experience-cloud/solution-categories/content-supply-chain.html?lang=en">Content supply chain</a></li>
   <li><a href="https://experienceleague.adobe.com/docs/real-time-customer-data-platform.html?lang=en">Customer data platform</a></li>
   <li><a href="">Digital commerce</a></li>
   <li><a href="">Journey orchestration</a></li>
   <li><a href="">Marketing analytics</a></li>
   <li><a href="https://experienceleague.adobe.com/docs/experience-platform/sources/api-tutorials/explore/marketing-automation.html?lang=en">Marketing automation</a></li>
   <li><a href="https://experienceleague.adobe.com/docs/events/the-skill-exchange-recordings/marketo/feb2022/personalization-at-scale.html?lang=en">Personalization at scale</a></li>
   <li><a href="https://experienceleague.adobe.com/docs/experience-manager-65/authoring/workflows/workflows.html?lang=en">Workflow management</a></li>
   </ul>
</div>
<div>
   <h5 id="content-types">CONTENT TYPES</h5>
   <div class="link-group">
      <div>
         <div>
            <p><a href="https://experienceleaguecommunities.adobe.com/t5/custom/page/page-id/MeetTheAdvocates?profile.language=en">Courses</a></p>
            <p>Expertly curated collections of lessons</p>
         </div>
      </div>
   </div>
   <div class="link-group">
      <div>
         <div>
            <p><a href="https://experienceleague.adobe.com/events/?lang=en">Tutorials</a></p>
            <p>Solution-specific videos and how-tos</p>
         </div>
      </div>
   </div>
   <div class="link-group">
      <div>
         <div>
            <p><a href="https://experienceleaguecommunities.adobe.com/t5/custom/page/page-id/employeeadvisors?profile.language=en">Instructor-led training</a></p>
            <p>Live &amp; on-demand courses led by Adobe-certified instructors</p>
         </div>
      </div>
   </div>
</div>
</div>