<div>
  <div class="footer-breadcrumb">
    <div>
      <div>
        <a href="https://experienceleague.adobe.com/#home" title="Home"></a>
        <a
          data-id="footer-breadcrumb"
          href="https://experienceleague.adobe.com/#home"
          >Experience League</a
        >
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="learn">Lernressourcen</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a href="https://experienceleague.adobe.com/?lang=de#courses"
              >Kurse</a
            >
          </li>
          <li>
            <a
              href="https://experienceleague.adobe.com/?lang=de#dashboard/learning"
              >Empfohlene Kurse</a
            >
          </li>
          <li>
            <a href="/de/docs/home-tutorials">Tutorials</a>
          </li>
          <li>
            <a href="/de/docs/certification/certification/overview"
              >Zertifizierung</a
            >
          </li>
          <li>
            <a href="https://learning.adobe.com/catalog.html"
              >Schulungen mit Kursleiter</a
            >
          </li>
          <li>
            <a href="https://experienceleague.adobe.com/?lang=de#recommended"
              >Inhaltsbibliothek durchsuchen</a
            >
          </li>
          <li>
            <a href="https://experienceleague.adobe.com/?lang=de#learn"
              >Alle Lernoptionen anzeigen</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="documentation">Dokumentation</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a href="/de/docs">Dokumentation – Startseite</a>
          </li>
          <li>
            <a href="/de/docs/release-notes/experience-cloud/current"
              >Experience Cloud-Versionshinweise</a
            >
          </li>
          <li>
            <a href="https://helpx.adobe.com/lt/acrobat/using/whats-new.html"
              >Document Cloud-Versionshinweise</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="community">Community</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=en"
              >Community-Startseite</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-advertising-cloud/ct-p/adobe-advertising-cloud-community?profile.language=en"
              >Advertising Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-analytics/ct-p/adobe-analytics-community?profile.language=en"
              >Analytics</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-audience-manager/ct-p/adobe-audience-manager-community?profile.language=en"
              >Audience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-campaign-standard/ct-p/adobe-campaign-standard-community?profile.language=en"
              >Campaign Standard</a
            >
          </li>
          <li><a href="https://community.magento.com/">Commerce</a></li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-cloud/ct-p/adobe-experience-cloud-community?profile.language=en"
              >Experience Cloud</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-manager/ct-p/adobe-experience-manager-community?profile.language=en"
              >Experience Manager</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-experience-platform/ct-p/adobe-experience-platform-community?profile.language=en"
              >Experience Platform</a
            >
          </li>
          <li>
            <a href="https://nation.marketo.com/">Marketo Engage</a>
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/adobe-target/ct-p/adobe-target-community?profile.language=en"
              >Target</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/t5/workfront/ct-p/workfront"
              >Workfront</a
            >
          </li>
          <li>
            <a href="https://experienceleague.adobe.com/?lang=de#feedback"
              >Feedback-Programm</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-item">
    <div>
      <div>
        <h2 id="support">Support</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="https://experienceleague.adobe.com/?lang=de#support"
              >Experience Cloud-Support</a
            >
          </li>
          <li>
            <a href="https://helpx.adobe.com/support/document-cloud.html"
              >Document Cloud-Support</a
            >
          </li>
          <li>
            <a
              href="https://experienceleaguecommunities.adobe.com/?profile.language=en"
              >Community-Foren</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="resources">Ressourcen</h2>
      </div>
      <div>
        <ul>
          <li><a href="https://www.adobe.io/">Adobe Developer</a></li>
          <li><a href="https://status.adobe.com/">Adobe-Status</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h2 id="adobe-account">Adobe-Konto</h2>
      </div>
      <div>
        <ul>
          <li>
            <a href="https://account.adobe.com/">Beim Konto anmelden</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-item">
    <div>
      <div>
        <h2 id="adobe">Adobe</h2>
      </div>
    </div>
    <div>
      <div>
        <ul>
          <li><a href="//www.adobe.com/about-adobe.html">Info</a></li>
          <li>
            <a href="https://www.adobe.com/careers.html">Karriere</a>
          </li>
          <li>
            <a href="https://news.adobe.com/home/default.aspx">Newsroom</a>
          </li>
          <li>
            <a href="https://www.adobe.com/corporate-responsibility.html"
              >Unternehmensverantwortung</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/investor-relations.html"
              >Investorbeziehungen</a
            >
          </li>
          <li>
            <a
              href="https://www.adobe.com/corporate-responsibility/supply-chain.html"
              >Lieferkette</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/trust.html">Trust Center</a>
          </li>
          <li><a href="https://www.adobe.com/events.html">Events</a></li>
          <li>
            <a href="https://www.adobe.com/diversity.html"
              >Vielfalt und Integration</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/about-adobe/integrity.html"
              >Integrität</a
            >
          </li>
          <li>
            <a href="https://www.adobe.com/covid-19-response.html"
              >COVID-19 Responses</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="language-selector">
    <div>
      <div data-align="justify">
        <a href="/fragments/en/languages/languages">Sprache ändern</a>
      </div>
    </div>
  </div>
  <div class="social">
    <div>
      <div>
        <p>
          <a href="https://www.facebook.com/Adobe/"
            >https://www.facebook.com/Adobe/</a
          >
        </p>
        <p>
          <a href="https://twitter.com/Adobe">https://twitter.com/Adobe</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/company/adobe"
            >https://www.linkedin.com/company/adobe</a
          >
        </p>
        <p>
          <a href="https://www.instagram.com/adobe/"
            >https://www.instagram.com/adobe/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyrights">
    <div>
      <div>
        <p>
          Copyright © 2024 Adobe. All Rights Reserved. /
          <a href="https://www.adobe.com/go/marketingcloud_privacy"
            >Datenschutz</a
          >
          /
          <a href="https://www.adobe.com/legal/terms.html"
            >Nutzungsbedingungen</a
          >
          /
          <a
            id="openCookieModal"
            class="onetrust"
            href="#"
            onclick="adobePrivacy.showConsentPopup();"
            title="Cookie preferences"
            >Cookie preferences</a
          >
          /
          <a href="https://www.adobe.com/privacy/ca-rights.html"
            >Meine persönlichen Informationen nicht verkaufen</a
          >
          /
          <a
            href="https://www.adobe.com/privacy/opt-out.html#interest-based-ads"
            >AdChoices</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
